.u-padding-top-small{
    padding-top: 1rem;
}
.u-padding-top-medium{
    padding-top: 2rem;
}
.u-padding-top-large{
    padding-top: 3rem;
}

.u-padding-bottom-small{
    padding-bottom: 1rem;
}
.u-padding-bottom-medium{
    padding-bottom: 2rem;
}
.u-padding-bottom-large{
    padding-bottom: 18rem;
}
.margin-right{
    margin-right: 10rem;
}