.photo_front{
    background-color: black;  /* fallback for old browsers */
}
.title{
    text-align: center;
    padding:4rem;
    font-family: 'Lobster', cursive;
    background: #0edd87;
}
body{
    background:black;
}